.header-logo {
    float: left;
}
#logo-img {
    height: 16.667em;
    width: 25em;
}
.header-nav {
    margin-top: 0.0001px;
    background-color: forestgreen;
    width: 40em;
    height: 5em;
}
.nav-buttons {
    color: snow;
    padding: 20px;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 28px;
    background-color: forestgreen;
    border: none;
    margin: 0px;
}

.nav-buttons:hover {
    text-shadow: 0.7px 0.7px 0.5px white;
}

#home {
    border-bottom: 5px solid white;
}

body {
    background-color: honeydew;
}

.gallery-container {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
}

.gallery-photos {
    position: relative;
    float: left;
    top: -50%;
    left: -120%;
}

.gallery-button-right {
    border-color: transparent black;
    border-style: solid;
    border-width: 20px 0px 20px 20px;
    height: 0px;
    width: 0px;
    float: right;
}

.galley-button-left {
    border-color: transparent black;
    border-style: solid;
    border-width: 20px 20px 20px 0px;
    height: 0px;
    width: 0px;
    float: left;
}

.pics {
    width:500px;
    height:500px;
    border: 2px solid forestgreen;
}
